@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    font-family: Manrope,sans-serif
}

body {
    font-family: "Manrope", sans-serif;
}

.title-area {
  text-align: center;
  margin-bottom: 44px;
}

.title-area .sec-title {
  font-size: 48px;
  font: weight 700px;
  color: #001931;
  margin-bottom: 16px;

}

.title-area .sec-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;


}

.hero-style1 .sub-title {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    background: linear-gradient(89.15deg, #4F39F6 -30.76%, #9514FA 99.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 7.5px 12px 7.5px 12px;
    background-color: #fff;
    border-radius: 1000px;
    margin-bottom: 13px;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 6px;


}
.hero-style1 .sub-title:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #E1E7FF;
    border-radius: 100px;
    z-index: -1;

}

.hero-style1 .sub-title .dots {
    position: relative;
    z-index: 2;
    width: 16px;
    height: 16px;
    background: linear-gradient(89.15deg, #4F39F6 -30.76%, #9514FA 99.27%);
    border-radius: 8px;
    display: inline-block;


}

.hero-style1 .sub-title .dots:before {
    content: "";
    position: absolute;
    inset: 2px;
    background:  #4F39F6;
    opacity: 0.4;
    border-radius: 8px; 

}

.hero-style1 .sub-title .dots:after {
    content: "";
    position: absolute;
    inset: 3px;
    background: linear-gradient(89.15deg, #4F39F6 -30.76%, #9514FA 99.27%);
    border-radius: 8px;

}