@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    font-family: Manrope,sans-serif
}

body {
    font-family: "Manrope", sans-serif;
}

.title-area {
  text-align: center;
  margin-bottom: 44px;
}

.title-area .sec-title {
  font-size: 48px;
  font: weight 700px;
  color: #001931;
  margin-bottom: 16px;

}

.title-area .sec-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;


}
